*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.kotlin/
.externalNativeBuild
.cxx
local.properties

# App build
/app/build

# Keystore
*.jks
*.keystore

# Secrets
google-services.json
